nav h1 {
    width: 100%;
}

nav h1 a {
    font-size: 19px;
}

#Logo {
    float: left;
    display: inline-block;
    width: 50px;
}

#restaurants-list li h1 {
    min-height: 115px;
}

/* Restaurant details */
@media screen and (min-width: 630px) {
    #restaurant-container, #reviews-container {
        width: calc(50% - 1.5em);
        margin: 0 auto;
    }
}
